#container {
    display: flex;
    flex-flow: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    background: lemonchiffon;
}

#submitBox {
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#input {
    background: #eee;
    /* display: block; */
    width: 60vw;
    height: 8vh;
    border: 1px solid #333;
    border-radius: 1vh;
    padding: 16px;
    font-size: 2rem;
}

#send {
    background: greenyellow;
    width: 20vw;
    height: 8vh;
    border: 1px solid #333;
    border-radius: 1vh;
}
#clear {
    background: tomato;
    width: 20vw;
    height: 8vh;
    border: 1px solid #333;
    border-radius: 1vh;
}

#board {
    width: 100vw;
    height: 90%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column; */
    position: relative;
}

.posts {
    background: tomato;
    /* border: 1px solid #333; */
    border-radius: 1vh;
    /* position: absolute; */
    width: 10vw;
    height: 10vh;
    overflow-wrap: break-word;
    overflow: scroll;
}
.posts::after {
    content: "";
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background: black;
}
.posts::before {
}
